.widget:active {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.hoverable:hover {
    background-color: #66f;
    background: #66f;
}

option.separator {
    margin-top: 8px;
    border-top: 1px solid #666;
    padding: 0;
}

.texter input[type="text"] {
    box-sizing: border-box;
    padding-left: 6px;
}

.texter input::placeholder {
    padding: 6px;
}