.widget:active {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.hoverable:hover {
    background-color: #66f;
    background: #66f;
}

option.separator {
    margin-top: 8px;
    border-top: 1px solid #666;
    padding: 0;
}

.texter {
    margin-top: 1px;
}

.texter input[type="search"] {
    box-sizing: border-box;
    padding-left: 16px;
}

.texter input::placeholder {
    padding: 10px;
}

input::-webkit-calendar-picker-indicator {
    height: 14px;
    margin-top: 1px
}


/* https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */

xxxxinput::-webkit-datetime-editxx {
    padding-top: 3px;
}

input::-webkit-datetime-edit-year-field {
    color: rgba(0, 0, 0, 0);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
}